<!DOCTYPE html>
<html>
<head>
  <title>Biohacking</title>
  
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <link href='https://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
  
  <%= stylesheet_link_tag 'application', media: 'all' %>  

<!--  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
-->

  <%= csrf_meta_tags %>
</head>
<body ng-app="Biohacking">

  <% if user_signed_in? %>

    <div class="navbar navbar-fixed-top navbar-fixed-width">

      <div class="profile navbar">
         <div class="logo">
           <%= image_tag "biologo.png" %>
         </div>
         <div class="info">
           <div class="name">
             Biohacking
           </div>
           <div class="logout">
             <%= link_to "Log Out", destroy_user_session_path %>
           </div>
         </div>

         <div class="menu">

              <%= link_to "Filter", "/filter" %>

              <%= link_to "Today", "/today" %>

              <%= link_to "Charts", "/charts" %>

         </div>

       </div>

    </div>

    <div class="container main" ng-controller="LogController as logController">

      <div class="filter"></div>

      <div class="list" >
        
        <div class="row" ng-repeat="log in logs" ng-click="this.$location.path('/logs/'+log.id);">

          <div class="kind-info" data-id="{{log.id}}">
            <div class="kind"><a> {{getKind(log.kind)}} </a></div>
            <div class="date">28/09/2015 06:00</div>
          </div>

          <div class="tags" ng-bind-html="this.formatTags()">
          </div>

        </div>

      </div>

    </div>
    
    <div ng-view class="log-edit" >
      {{this.log.id}}
    </div>

  <% else %>
    <%= link_to "Ola, preciso me logar ", new_user_session_path %>
  <% end %>

<%= javascript_include_tag "appAngular"%>

</body>
</html>