<% if user_signed_in? %>
  
  <div class="navbar navbar-fixed-top navbar-fixed-width">
    
    <div class="profile navbar">
       <div class="logo">
         <%= image_tag "biologo.png" %>
       </div>
       <div class="info">
         <div class="name">
           Biohacking
         </div>
         <div class="logout">
           <%= link_to "Log Out", destroy_user_session_path %>
         </div>
       </div>
       
       <div class="menu">

            <%= link_to "Filter", "/filter" %>
            
            <%= link_to "Today", "/today" %>
            
            <%= link_to "Charts", "/charts" %>

       </div>
       
     </div>
    
  </div>
  
  <div class="container main">
    
    <div class="filter"></div>
    
    <div class="list">
      
      <div class="row">
        
        <div class="kind-info">
          <div class="kind"><a>WORKOUT</a></div>
          <div class="date">28/09/2015 06:00</div>
        </div>
        
        <div class="tags">
          <a>#calisthenics</a>
          <a>#press</a>
          <a>#push up</a>
        </div>
        
      </div>
      
      <div class="row">
        
        <div class="kind-info">
          <div class="kind"><a>EAT</a></div>
          <div class="date">28/09/2015 07:00</div>
        </div>
        
        <div class="tags">
          <a>#coffee</a>
          <a>#bulletproof</a>
          <a>#coconutoil</a>
          <a>#mct</a>
          <a>#butter</a>
        </div>
        
      </div>
      
      <div class="row">
        
        <div class="kind-info">
          <div class="kind"><a>EAT</a></div>
          <div class="date">28/09/2015 19:00</div>
        </div>
        
        <div class="tags">
          <a>#meat</a>
          <a>#pork</a>
          <a>#500g</a>
        </div>
        
      </div>
      
    </div>
    
  </div>
  
  <div class="messages"></div>
  <div name="logs"></div>
  
<% else %>
  <%= link_to "Ola, preciso me logar ", new_user_session_path %>
<% end %>