<!DOCTYPE html>
<html>
<head>
  <title>Biohacking</title>

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <link href='https://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>

  <%= stylesheet_link_tag 'application', media: 'all' %>

<!--
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
-->

  <%= csrf_meta_tags %>
</head>
<body class="landpage-wallpaper">
  <section id="index" class="center">
    <section id="logo">
      <div class="logo-content">
        <%= image_tag 'biologo.png', width: '50' %>
      </div>
      <h1>Biohacking</h1>
      <h2 class="description">Track. Analize. Learn</h2>
    </section>
    <section id="signin" class="form">
      <main>
        <form action="/users/sign_in" method="post" accept-charset="UTF-8" class="new_user" id="new_user" role="form">
          <input name="utf8" type="hidden" value="✓" />
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
          <h2>Sign In</h2>
          <div class="group">
            <label for="user_email">
              Email
              <input type="email" name="user[email]" class="input-text" id="user_email" autofocus="autofocus" required />
            </label>
          </div>
          <div class="group">
            <label for="user_password">
              Password
              <input type="password" name="user[password]" class="input-text" id="user_password" autocomplete="off" required />
            </label>
          </div>
          <div class="group option-group">
            <label for="user_remember_me">
              <input name="user[remember_me]" type="hidden" value="0" />
              Remember me
              <input type="checkbox" value="1" name="user[remember_me]" id="user_remember_me" />
            </label>
          </div>
          <div class="group reset-group">
            <a href="#">Reset Password</a>
          </div>
          <input type="submit" value="Log in" class="input-submit" />
        </form>
      </main>
    </section>
    <section id="signup" class="form">
      <main>
        <form action="/users" method="post" class="new_user" id="new_user" accept-charset="UTF-8" role="form">
          <input name="utf8" type="hidden" value="✓" />
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
          <h2>Sign Up</h2>
          <div class="group">
            <label for="user_email">
              Email
              <input type="email" name="user[email]" class="input-text" id="user-password" required />
            </label>
          </div>
          <div class="group">
            <label for="user[password]">
              Password
              <input type="password" name="user[password]" class="input-text" id="user-password" required />
            </label>
          </div>
          <div class="group">
            <label for="user_password_confirmation">
              Password confirmation
              <input type="password" name="user[password_confirmation]" class="input-text" required />
            </label>
          </div>
          <input type="submit" value="Sign up" class="input-submit" />
        </form>
      </main>
    </section>
  </section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.min.js"></script>

<%= javascript_include_tag djr_url %>
<%= javascript_include_tag "application"%>

</body>
</html>
