<!DOCTYPE html>
<html>
<head>
  <title>Biohacking</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  
  <% if Rails.env == "production" %>
    <script src="/assets/djr.js"></script>
  <% end %>
  
  <%= javascript_include_tag "application" if Rails.env == "production" %>
	<%= javascript_include_tag djr_url %>
  
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
