<!DOCTYPE html>
<html>
<head>
  <title>Biohacking</title>
  
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.min.js"></script>

<% if Rails.env != "production" %>
  <script src="/assets/packages.js"></script>
  <script src="/assets/djr.js"></script>
  <script src="/assets/messages.js"></script>
  <script src="/assets/dialog.js"></script>
  <script src="/assets/grid.js"></script>
  <script src="/assets/formEngine.js"></script>
<% end %>

<%= javascript_include_tag djr_url %>
<%= javascript_include_tag "application" if Rails.env == "production" %>

<% if Rails.env != "production" %>
  <script src="/assets/app.js"></script>
<% end %>

</body>
</html>
